.overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.headerWrapper{
    margin: 28px 20px 10px  47px;
    background-color: #000000;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000000;
}

.headerContainer{
    padding: 15px 47px 4px  47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 70px;
}

.logoContainer > img{
    width: 140px;
    cursor: pointer;
}

.searchBarInput{
    height: 32px;
    width: 604px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #886D5D;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: white ;
    opacity: 0.6;
    padding: 0 0 0 10px;
}
.searchBarInput:active{
    opacity: 1;
}
.searchBarInput:focus-visible{
    opacity: 1;
    outline: 1px solid #886D5D;
}
.searchBtn{
    cursor: pointer;
    border: 1px solid #886D5D;
    border-radius: 0 2px 2px 0;
    background-color: transparent;
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.6);
    height: 34px;
    width: 60px;
    font-size: 15px;
}


.searchResetBtn{
    position: absolute;
    margin-left: -35px;
    background-color: transparent;
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);   
    border: none;
}


.loginBtn{
    width: 100px;
    height: 36px;    
    border-radius: 8px;
    background: #B19D97;
    color: #FFFFFF;
    cursor: pointer;
}

.logoutBtn{
    margin-left: 20px;
    width: 100px;
    height: 36px;    
    border-radius: 8px;
    background: #B19D97;
    color: #FFFFFF;
    cursor: pointer;
}

.hrHeader{
    border-color: #544138;
}

.profilePic{
    font-size: 1.6em;
    color: #c4c4c4;
}
.profileName{
    font-size: 1.1em;
    font-weight: 500;   
    color: #FFFFFF;
}

.mobileLogoContainer{
    display: none;
}

@media screen and (max-width: 480px){
    .headerContainer{
        padding: 8px 24px 5px  28px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
    }

    .searchBarInput{
        width: 100%;
        min-width: 250px;
    }
    .searchContainer{
        display: flex;
        width: 100%;
    }
    .searchResetBtn{
        position: relative;
        margin-top: -5px;
        right: -4px;
        opacity: 0.5;
        font-size: 0.9em;
    }
    .searchBtn{
        height: 32px;
        margin-left: 7px;
        width: 33px;
    }
  
    .mobileLogoContainer{
        display: block;
        display: flex;
        align-items: center;
    }
    .loginBtnContainer{
        display: none;
    }
    .mobileLogoLogoutCont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .loginBtn {
        width: 69px;
        height: 33px;
        border: none;
        border-radius: 6px;
        background: #B19D97;
    }
    .profilePic{
        font-size: 1.1rem;
    }
    .profileName{
        font-size: 1rem;
    }
    .logoutIcon{
        margin-left: 10px;
        font-weight: 200;
    }
    .sticky{
        z-index: 1;

    }

}