.signinTextTitle{
  font-family: 'Poppins', sans-serif;
  color: #1A1A1A;
  font-weight: 600;
  font-size: 1.7em;
  display: block;
  margin-bottom: 2px;
}
.subtitle{
  color: #333333;
} 


.submitbtn{
  font-weight: 700 !important;
  background: #9B7D6A !important;
  color: white !important;
  transition-duration: 0.1s;
  border-color: #9B7D6A !important;
  border-radius: 0.25rem;
  outline-color: #9B7D6A !important;
}

.submitbtn:hover{
  color: white;
  border-color: #b08d78 !important;
  background: #b08d78 !important;
}
 
form input{
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
}

.registerContainer{
    margin-top: 10%;
}
 

.label{
  color: #333333;
  margin-bottom: 2px;
}

input[type="text"].inputField{
  background-color: #F2F2F2;
  text-align: left;
}
input[ type="password"].inputField{
  background-color: #F2F2F2;
  text-align: left;
}
input[ type="number"].inputField{
  background-color: #F2F2F2;
  text-align: left;
}

.inputGroup{
  margin-top: 15px;
}