.container{
    background-color: black;
    color: white;
    min-height: 100vh;
}
.app{
    width: 100vw;
}
.headerContainer{
    /* height: 400px; */
    position: fixed;
    z-index: 2;
}

.A1{
    margin-top: 103px;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
}
.A2{
    height: 400px;
    width: 500px;
    background-color: aqua;
    margin: 10px;
}